<div class="container" style="margin-top: 75px;">
  <div class="row justify-content-md-center justify-content-lg-between">
      <div class="col-12 col-md-8 col-lg-3">
          <app-user-sidebar></app-user-sidebar>
      </div>
      <div class="col-12 col-md-12 col-lg-8">
          <div class="CPanel">
              <div class="CP_header">
                  <header>
                      <span>Change password</span>
                  </header>
              </div>
              <div class="CP_body">
                  <form [formGroup]="userData" (ngSubmit)="changePassword()">
                    <div class="row my-5">
                      <div class="col-12 col-md-6">
                        <div class="CForm mb-4">
                          <label for="currentPassword">Current password</label>
                          <input id="currentPassword" type="password" formControlName="currentPassword">
                          <span class="text-danger form-val" *ngIf="userData.controls.currentPassword.errors?.required && userData.controls.currentPassword.touched">Current password is required</span>                                                    
                          <span class="text-danger form-val" *ngIf="userData.controls.currentPassword.errors?.maxlength && userData.controls.currentPassword.touched">Current password cannot be more than 200 character</span>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="CForm mb-4">
                          <label for="newPassword">New password</label>
                          <input id="newPassword" type="password" formControlName="newPassword">
                          <span class="text-danger form-val" *ngIf="userData.controls.newPassword.errors?.required && userData.controls.newPassword.touched">New password is required</span>                                                    
                          <span class="text-danger form-val" *ngIf="userData.controls.newPassword.errors?.maxlength && userData.controls.newPassword.touched">New password cannot be more than 200 character</span>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="CForm mb-4">
                          <label for="confirmNewPassword">Confirm new password</label>
                          <input id="confirmNewPassword" type="password" formControlName="confirmNewPassword">
                          <span class="text-danger form-val" *ngIf="userData.controls.confirmNewPassword.errors?.required && userData.controls.confirmNewPassword.touched">Confirm new password is required</span>                                                    
                          <span class="text-danger form-val" *ngIf="userData.controls.confirmNewPassword.errors?.maxlength && userData.controls.confirmNewPassword.touched">Confirm new password cannot be more than 200 character</span>
                          <span class="text-danger form-val" *ngIf="userData.controls.confirmNewPassword.errors?.passwordNotMatch && userData.controls.confirmNewPassword.touched">New password and confirm must be same</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="CBtn CBtn-primary CBtn-md" [disabled]="!userData.valid">Change password</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>