<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-12">
            <div class="CPanel">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-5">
                        <div class="search-box">
                            <input type="text" class="search-input" placeholder="Search product ...">
                            <button><i class="far fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-select" aria-label="Sort by">
                            <option selected disabled>Sort by</option>
                            <option value="1">Latest products</option>
                            <option value="2">Popular products</option>
                          </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-select" aria-label="Price">
                            <option selected disabled>Price</option>
                            <option value="1">High to low</option>
                            <option value="2">Low to high</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="CPanel">
                <div class="CP_header">
                    <header>
                        <span>Filter categories</span>
                    </header>
                </div>
                <div class="CP_body">
                    <div class="container-fluid my-3">
                        <ul class="categories-filter">
                            <li>
                                <mat-checkbox color="primary">Something</mat-checkbox>
                                <ul>
                                    <li>
                                        <mat-checkbox color="primary">Something</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox color="primary">Something</mat-checkbox>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <mat-checkbox color="primary">Something</mat-checkbox>
                                <ul>
                                    <li>
                                        <mat-checkbox color="primary">Something</mat-checkbox>
                                    </li>
                                    <li>
                                        <mat-checkbox color="primary">Something</mat-checkbox>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <mat-checkbox color="primary">Something</mat-checkbox>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>