<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-12">
            <div class="CPanel">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-5">
                        <form method="get" (ngSubmit)="searchByTitle()">
                            <div class="search-box">
                                <input type="text" class="search-input" placeholder="Search product ..." [(ngModel)]="filterProducts.title" name="filterProducts.title">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-select" aria-label="Sort by" (change)="productSortBy()" [(ngModel)]="sortBy" name="sortBy">
                            <option selected disabled value="sortBy">Sort by</option>
                            <option value="Latest">Latest products</option>
                            <option value="Popular">Popular products</option>
                          </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-select" aria-label="Price" (change)="productSortBy()" [(ngModel)]="sortBy" name="sortBy">
                            <option selected disabled value="sortBy">Price</option>
                            <option value="PriceDesc">High to low</option>
                            <option value="PriceAsc">Low to high</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="CPanel">
                <div class="CP_header">
                    <header>
                        <span>Filter categories</span>
                    </header>
                </div>
                <div class="CP_body">
                    <div class="container-fluid my-3">
                        <ul class="categories-filter">
                            <li *ngFor="let item of categories | categoriesFilter: null">
                                <!-- <mat-checkbox color="primary" style="font-weight: 500;">{{item.title}}</mat-checkbox> -->
                                <a (click)="findByCategory(item.categoryId)" class="clickable"><i class="far fa-chevron-right"></i> {{item.title}}</a>
                                <ul *ngIf="(categories | categoriesFilter: null).length > 0">
                                    <li *ngFor="let sub of categories | categoriesFilter: item.categoryId">
                                        <!-- <mat-checkbox color="primary" style="font-weight: 500;">{{sub.title}}</mat-checkbox> -->
                                        <a (click)="findByCategory(sub.categoryId)" class="clickable">{{sub.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <div class="row">
                <div class="mt-5 mb-5 d-block" *ngIf="!loaded">
                    <mat-spinner [diameter]="50"style="margin: auto"></mat-spinner>
                </div>
                <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of products">
                    <app-single-product [product]="product"></app-single-product>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="paging">
                        <ul>
                            <li><a href="#"><i class="far fa-chevron-left"></i></a></li>
                            <li *ngFor="let i of pages" [ngClass]="{'active': filterProducts.pageId == i}"><a class="clickable" (click)="setPage(i)">{{i}}</a></li>
                            <!-- <li><a href="#">2</a></li>
                            <li class="active"><a href="#">3</a></li> -->
                            <li *ngIf="filterProducts.pageId < filterProducts.pageCount"><a class="clickable" (click)="setPage(filterProducts.pageId + 1)"><i class="far fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>