<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-12">
            <div class="CPanel">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-5">
                        <form method="get" (ngSubmit)="searchByTitle()">
                            <div class="search-box">
                                <input type="text" class="search-input" placeholder="Search product ..." [(ngModel)]="title" name="title">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-select" aria-label="Sort by">
                            <option selected disabled>Sort by</option>
                            <option value="1">Latest products</option>
                            <option value="2">Popular products</option>
                          </select>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-select" aria-label="Price">
                            <option selected disabled>Price</option>
                            <option value="1">High to low</option>
                            <option value="2">Low to high</option>
                          </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="CPanel">
                <div class="CP_header">
                    <header>
                        <span>Filter categories</span>
                    </header>
                </div>
                <div class="CP_body">
                    <div class="container-fluid my-3">
                        <ul class="categories-filter">
                            <li *ngFor="let item of categories | categoriesFilter: null">
                                <mat-checkbox color="primary" style="font-weight: 500;">{{item.title}}</mat-checkbox>
                                <ul *ngIf="(categories | categoriesFilter: null).length > 0">
                                    <li *ngFor="let sub of categories | categoriesFilter: item.categoryId">
                                        <mat-checkbox color="primary" style="font-weight: 500;">{{sub.title}}</mat-checkbox>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <div class="row">
                <div class="mt-5 mb-5 d-block" *ngIf="!loaded">
                    <mat-spinner [diameter]="50"style="margin: auto"></mat-spinner>
                </div>
                <div class="col-12 col-sm-6 col-lg-4" *ngFor="let product of products">
                    <app-single-product [product]="product"></app-single-product>
                </div>
            </div>
        </div>
    </div>
</div>