<section class="site__footer" style="margin-top: 175px;">
    <div class="site__footer-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="site__footer-item">
                        <h3>Digi File</h3>
                        <p style="margin-top: 30px;">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="site__footer-item">
                        <h5 style="font-weight: 600;">Site links</h5>
                        <div class="site__footer-list" style="column-count: 2;margin-top: 45px;">
                            <ul>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Home</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Products</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>About us</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Contact us</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Support</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Help</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>FAQ</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="site__footer-item">
                        <h5 style="font-weight: 600;">Social media</h5>
                        <div class="site__footer-list" style="margin-top: 45px;">
                            <ul>

                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Instagram</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Telegram</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Twitter</span></a>
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-chevron-right"></i> <span>Facebook</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Copyright -->
<section class="site__copyright">
    <div class="site__copyright-holder">
        <div class="container">
            <div class="text-center" style="font-size: 15px; font-weight: 600;">
                Copyright © 2021 Digi shop. All rights served. Developed by: Kasra padashi
            </div>
        </div>
    </div>
</section>