<!-- Black overlay -->
<div class="site__overlay" id="siteOverlay">

</div>

<!-- Top header -->
<section class="site__header-section">
    <div class="header__section">
        <div class="container">
            <div class="header__items-holder">
                <a href="#" class="site__menu-btn" id="MobileMenuBtn"><i class="far fa-bars"></i></a>
                <div class="header__brand">
                    <a routerLink="/">
                        <img style="width: 50px;" src="/assets/images/Logo.png">
                    </a>
                </div>
                <div class="header__menu">
                    <div class="header_menu-holder" id="leftMenu">
                        <ul>
                            <li>
                                <a routerLink="/">Home</a>
                            </li>
                            <li>
                                <a routerLink="/products">Products</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__search" style="flex: 1;">
                        <div class="site__search-holder">
                            <form method="get" (ngSubmit)="searchProduct()">
                                <div class="site__search-box">
                                    <input type="text" class="searchbox" placeholder="Search product ..." [(ngModel)]="searchTitle" name="searchTitle">
                                    <button class="searchbox-submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header_menu-holder" style="display: inline-block;" id="rightMenu">
                        <ul style="    padding: 0;">
                            <li *ngIf="!isAuthenticated">
                                <a class="loginBtn clickable" (click)="LoginDialog()">Login</a>
                            </li>
                            <li *ngIf="!isAuthenticated">
                                <a routerLink="/register" class="registerBtn clickable">Register</a>
                            </li>
                            <li *ngIf="isAuthenticated">
                                <a routerLink="/user/dashboard" class="clickable profileMenu">
                                    <img [src]="userInfo?.image !== null ? userImage + userInfo?.image : ''">
                                </a>
                            </li>
                            <li *ngIf="isAuthenticated">
                                <a routerLink="/cart/" id="CartBtn" class="clickable CBtn CBtn-light CBtn-warning home-cart-btn" style="padding: 5px 20px;border-radius: 4px;"><i class="far fa-shopping-cart"></i><span class="cart-count">{{totalItem}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Menu -->
<section class="site__category-menu">
    <div class="category-menu">
        <div class="container">
            <div class="category-list">
                <ul>
                    <li class="DropdownCategory" *ngFor="let item of categories | categoriesFilter: null"><a href="#">{{item.title}} <i class="far fa-chevron-down"></i></a>
                        <ul class="dropCat">
                            <li *ngFor="let sub of categories | categoriesFilter: item.categoryId"><a class="clickable" (click)="navigateCategory(item.categoryId)">{{sub.title}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Mobile menu -->
<section class="site__mobile-menu">
    <div class="mobile__menu" id="MobileMenu">
        <div class="mobile__menu-header">
            <span style="font-weight: 600;font-size: 20px;">Menu</span>
            <span id="closeMenu" class="menu-close" style="cursor: pointer;">
                <i class="fal fa-times"></i>
            </span>
        </div>
        <div class="mobile__menu-body">
            <br>
            <form>
                <div class="site__search-box" id="mobileSearch" style="margin: 0 20px;">
                    <input type="text" class="searchbox" placeholder="Search product ...">
                    <button class="searchbox-submit"><i class="far fa-search"></i></button>
                </div>
            </form>
            <ul class="mobile-menu">
                <li><a href="#"><i class="far fa-chevron-right"></i> Home</a></li>
                <li><a href="#"><i class="far fa-chevron-right"></i> Products</a></li>
                <li><a href="#"><i class="far fa-chevron-right"></i> About us</a></li>
                <li><a href="#"><i class="far fa-chevron-right"></i> Contact us</a></li>
            </ul>
        </div>
        <div class="mobile__menu-header">
            <span style="font-weight: 600;font-size: 20px;">Categories</span>
        </div>
        <div class="mobile__menu-body">
            <ul class="mobile-menu">
                <li class="mobile-dropdown" id="MobileDropdown"><a href="#"><i class="far fa-chevron-right"></i> Web</a>
                    <i class="fas fa-plus"></i> <i class="fas fa-minus"></i>
                    <ul class="mobile-menu ResDrop" id="ResDrop">
                        <li><a href="#"><i class="far fa-chevron-right"></i> Mobile</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Windows</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Security</a></li>
                    </ul>
                </li>
                <li class="mobile-dropdown" id="MobileDropdown"><a href="#"><i class="far fa-chevron-right"></i>
                        Mobile</a> <i class="fas fa-plus"></i> <i class="fas fa-minus"></i>
                    <ul class="mobile-menu ResDrop" id="ResDrop">
                        <li><a href="#"><i class="far fa-chevron-right"></i> Mobile</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Windows</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Security</a></li>
                    </ul>
                </li>
                <li class="mobile-dropdown" id="MobileDropdown"><a href="#"><i class="far fa-chevron-right"></i>
                        Windows</a> <i class="fas fa-plus"></i> <i class="fas fa-minus"></i>
                    <ul class="mobile-menu ResDrop" id="ResDrop">
                        <li><a href="#"><i class="far fa-chevron-right"></i> Mobile</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Windows</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Security</a></li>
                    </ul>
                </li>
                <li class="mobile-dropdown" id="MobileDropdown"><a href="#"><i class="far fa-chevron-right"></i>
                        Security</a> <i class="fas fa-plus"></i> <i class="fas fa-minus"></i>
                    <ul class="mobile-menu ResDrop" id="ResDrop">
                        <li><a href="#"><i class="far fa-chevron-right"></i> Mobile</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Windows</a></li>
                        <li><a href="#"><i class="far fa-chevron-right"></i> Security</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>