<div class="container" style="margin-top: 75px;">
    <div class="row justify-content-md-center justify-content-lg-between">
        <div class="col-12 col-md-8 col-lg-3">
            <app-user-sidebar></app-user-sidebar>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="CPanel">
                <div class="CP_header">
                    <header>
                        <span>User dashboard</span>
                    </header>
                </div>
                <div class="CP_body">
                    <div class="container-fluid">
                        <div class="row justify-content-sm-center">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="user-widget">
                                    <div class="widget-icon">
                                        <img src="/assets/images/form.png">
                                    </div>
                                    <div class="widget-data">
                                        <span class="widget-value">{{userInfo?.successOrders}}</span>
                                        <span class="widget-title">Success orders</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="user-widget">
                                    <div class="widget-icon">
                                        <img src="/assets/images/comments.png">
                                    </div>
                                    <div class="widget-data">
                                        <span class="widget-value">{{userInfo?.comments}}</span>
                                        <span class="widget-title">Comments</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="user-widget">
                                    <div class="widget-icon">
                                        <img src="/assets/images/order.png">
                                    </div>
                                    <div class="widget-data">
                                        <span class="widget-value">{{userInfo?.failedOrders}}</span>
                                        <span class="widget-title">Failed orders</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-2"></div>
                            <div class="col-12 col-md-8">
                                <div class="user-information">
                                    <div class="info-data">
                                        <p class="justify-content-lg-between justify-content-sm-start"><span class="user-info-title"><i class="far fa-user"></i> Username:</span> <span class="user-info-value">{{userInfo?.username}}</span></p>
                                        <p class="justify-content-lg-between justify-content-sm-start"><span class="user-info-title"><i class="far fa-phone"></i> Mobile number: </span><span class="user-info-value">{{userInfo?.mobile}}</span></p>
                                        <p class="justify-content-lg-between justify-content-sm-start"><span class="user-info-title"><i class="far fa-envelope"></i> Email address: </span><span class="user-info-value">{{userInfo?.email}}</span></p>
                                        <p class="justify-content-lg-between justify-content-sm-start"><span class="user-info-title"><i class="far fa-calendar"></i> Registery date: </span><span class="user-info-value">{{userInfo?.registerDate | date}}</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>