<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5">
      <div class="product-gallery">
        <section id="main-carousel" class="splide" aria-label="My Awesome Gallery">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img [src]="imagePath + product['image']" alt="product picture">
              </li>
              <li class="splide__slide" *ngFor="let item of gallery">
                <img [src]="galleryPath + item['galleryImage']" [alt]="product['title']">
              </li>
            </ul>
          </div>
        </section>
        
        <ul id="thumbnails" class="thumbnails">
          <li class="thumbnail">
            <img [src]="imagePath + product['image']" alt="product picture">
          </li>
          <li class="thumbnail" *ngFor="let item of gallery">
            <img [src]="galleryPath + item['galleryImage']" [alt]="product['title']">
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-1"></div>
    <div class="col-12 col-md-4 col-lg-6">
      <h5 class="mt-5">{{product['title']}}</h5>
      <div class="product-price mt-5">
        {{product['price']}}$
      </div>
      <div class="mt-3 product-info">
        <ul class="info-title">
          <li *ngFor="let info of product['productInfos']">{{info['infoTitle']}}: </li>
        </ul>
        <ul style="padding-left: 40px;">
          <li *ngFor="let info of product['productInfos']">{{info['infoValue']}}</li>
        </ul>
        </div>
        <div class="mt-4">
          <button *ngIf="!isProductInCart && productStatus === 'NotExist'" (click)="addToCart(product['id'])" class="CBtn CBtn-light CBtn-warning" style="border-radius: 3px;"><i class="far fa-shopping-cart" style="margin-right: 10px;"></i>Add to cart</button>
          <button *ngIf="isProductInCart && productStatus === 'IsExist'" class="CBtn CBtn-light CBtn-warning CBtn-warning-disabled" disabled style="border-radius: 3px;"><i class="far fa-check" style="margin-right: 10px;"></i>Already in cart</button>
          <button class="like-button">
            <i class="far fa-heart"></i>
          </button>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Description">
          <div class="container mt-5 mb-5">
            <div class="row">
              <div class="col-12 col-md-8">
                <div [innerHTML]="product['description']"></div>
              </div>
              <div class="col-12 col-md-2"></div>
              <div class="col-12 col-md-2"></div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Comments">
          <div class="container-fluid mt-5 mb-5">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="comment-section">
                  <div class="add-commnet">
                    <div class="CAlert CAlert-warning" *ngIf="!isAuthenticated">Please login to submit your comment</div>
                    <form *ngIf="isAuthenticated"  [formGroup]="commentForm" (ngSubmit)="addComment()">
                      <div class="comment-form CForm">
                        <label>Write your review here</label>
                        <textarea rows="5" formControlName="text"></textarea>
                        <span class="text-danger" *ngIf="commentForm.controls.text.errors?.required && commentForm.controls.text.touched">please write your comment first</span>
                        <span class="text-danger" *ngIf="commentForm.controls.text.errors?.maxlength && commentForm.controls.text.touched">comment can't be more than 1000 characters</span>
                        <br>
                        <br>
                        <button class="CBtn CBtn-primary CBtn-md">Submit Comment</button>
                      </div>
                    </form>
                  </div>
                  <br>
                  <br>
                  <ul *ngIf="commentsLoaded">
                    <li *ngFor="let comment of comments">
                      <div class="comment-item">
                        <div class="row">
                          <div class="col-12">
                            <div class="comment-profile">
                              <img [src]="userImage + comment['userAvatar']"> <span>{{comment?.userName}}</span>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="comment-text mt-3">
                              {{comment?.text}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-12 col-md-2"></div>
              <div class="col-12 col-md-2"></div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>